// variables

$baseFontSize: 16px;
$color-background: #F8F8F8;
$color-text: #524D63;
$color-profit: #179F35;

$color-attention-pink: #E185A2;
$color-attention-purple: #B588ED;
$color-attention-yellow: #EEE480;

$color-percent-red: #EB8A8B;
$color-percent-orange: #ECC58B;
$color-percent-blue: #8AB8EB;
$color-percent-green: #88E487;

$color-blue: #2562D8;
$color-black: #323232;
$color-gray: #A59E9E;
$color-red: #CB0100;



// breakpoints

$bp-desktop: 1200px;
// $bp-laptop: 992px;
$bp-tablets: 768px;
$bp-phones: 576px;